[Desktop Entry]
Categories=Games
Comment[en_US]=A mod manager for the video game Conan Exiles
Comment=A mod manager for the video game Conan Exiles
Exec=Conay
GenericName[en_US]=Conay
GenericName=Conay
Icon=conay.png
MimeType=
Name[en_US]=Conay
Name=Conay
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application