[Desktop Entry]
Categories=Games
Comment[en_US]=Conan Exiles Mod Launcher
Comment=Conan Exiles Mod Launcher
Exec=Conay
GenericName[en_US]=Conay
GenericName=Conay
Icon=conay.png
MimeType=
Name[en_US]=Conay
Name=Conay
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application